[user]
        email = sckacr@gmail.com
        name = sckacr
[core]
        editor = vim
[ghq]
        root = ~/ghq
        root = ~/go/src
[gui]
	fontui = -family \"Noto Sans Mono\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Noto Sans Mono\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
